<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.spring.springmvc.member.model.vo.Member" alias="Member" />
	</typeAliases>

	<mappers>
		<mapper resource="/spring/mybatis/mappers/bookMapper.xml" />
		<mapper resource="/spring/mybatis/mappers/memberMapper.xml" />
		<mapper resource="/spring/mybatis/mappers/noticeMapper.xml" />
	</mappers>


</configuration>
